* {
  box-sizing: border-box;
}
body {
  margin: 0 auto; 
  line-height: 1.3;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

img{
  width: auto;
}



