<section class="section">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <div class="columns">
      <div class="column is-half">
        <h1 class="title">Meals</h1>
      </div>
      <div class="column">
        <%= link_to 'Add new', new_meal_path, class: 'button is-success is-pulled-right' %>
      </div>
    </div>

    <ul class="list">
      <li class="list-item">
        <div class="list-content">
          <h2>Title</h2>
          <img src="http://baconmockup.com/250/200" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
          <br>
          <div class="columns">
            <div class="column is-half">
              <p>Date here</p>
            </div>
            <div class="column">
              <p class="is-pulled-right">XX FUD here</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <a href="">Link here</a>
            </div>
            <div class="column">
              <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </li>
      
       <li class="list-item">
        <div class="list-content">
          <h2>Title</h2>
          <img src="http://baconmockup.com/250/200" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
          <br>
          <div class="columns">
            <div class="column is-half">
              <p>Date here</p>
            </div>
            <div class="column">
              <p class="is-pulled-right">XX FUD here</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <a href="">Link here</a>
            </div>
            <div class="column">
              <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </li>
      </li>
      
      <li class="list-item">
        <div class="list-content">
          <h2>Title</h2>
          <img src="http://baconmockup.com/250/200" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
          <br>
          <div class="columns">
            <div class="column is-half">
              <p>Date here</p>
            </div>
            <div class="column">
              <p class="is-pulled-right">XX FUD here</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <a href="">Link here</a>
            </div>
            <div class="column">
              <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </li>
      </li>
      
      <li class="list-item">
        <div class="list-content">
          <h2>Title</h2>
          <img src="http://baconmockup.com/250/200" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
          <br>
          <div class="columns">
            <div class="column is-half">
              <p>Date here</p>
            </div>
            <div class="column">
              <p class="is-pulled-right">XX FUD here</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <a href="">Link here</a>
            </div>
            <div class="column">
              <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </li>
      </li>
      
      <li class="list-item">
        <div class="list-content">
          <h2>Title</h2>
          <img src="http://baconmockup.com/250/200" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
          <br>
          <div class="columns">
            <div class="column is-half">
              <p>Date here</p>
            </div>
            <div class="column">
              <p class="is-pulled-right">XX FUD here</p>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <a href="">Link here</a>
            </div>
            <div class="column">
              <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </li>
      </li>

      
        <li class="list-item">
          <div class="list-content">
            <h2>Title</h2>
            <img src="http://baconmockup.com/250/200" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia. Non nostrum, consectetur ipsum doloribus enim maiores a laudantium, odio vel blanditiis id ea dolorum expedita fugit incidunt commodi.</p>
            <br>
            <div class="columns">
              <div class="column is-half">
                <p>Date here</p>
              </div>
              <div class="column">
                <p class="is-pulled-right">XX FUD here</p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <a href="">Link here</a>
              </div>
              <div class="column">
                <p class="is-pulled-right"> 4 <i class="fa fa-user" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        </li>
      </li>
    </ul>
  </div>
</section>
